name: Build iOS Frameworks
on:
  workflow_dispatch:
    inputs:
      kotlin-version:
        description: 'Override Kotlin version?'
        required: false
        default: ''
        type: string
      testballoon-version:
        description: 'Override TestBalloon version (full version string)?'
        required: false
        default: ''
        type: string
      gradle-args:
        description: 'Additional Gradle args'
        required: false
        default: ''
        type: string
jobs:
  build:
    runs-on: macos-latest
    timeout-minutes: 300
    env:
      KOTLIN_VERSION_ENV: ${{ inputs.kotlin-version }}
      TESTBALLOON_VERSION_OVERRIDE: ${{ inputs.testballoon-version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.2.0
      - name: Build klibs
        run: ./gradlew iosArm64MainKlibrary iosX64MainKlibrary
      - name: Build XCFrameworks
        run: ./gradlew ${{ inputs.gradle-args }} assembleIndispensableAsn1XCFramework assembleIndispensableXCFramework assembleIndispensableJosefXCFramework assembleIndispensableCosefXCFramework assembleSupremeXCFramework
      - name: Upload debug XCFramework Indispensable
        uses: actions/upload-artifact@v4
        with:
          name: Indispensable-debug.xcframework
          path: |
            indispensable/build/XCFrameworks/debug/
      - name: Upload debug XCFramework Indispensable-ASN.1
        uses: actions/upload-artifact@v4
        with:
          name: IndispensableAsn1-debug.xcframework
          path: |
            indispensable-asn1/build/XCFrameworks/debug/
      - name: Upload debug XCFramework IndispensableJosef
        uses: actions/upload-artifact@v4
        with:
          name: IndispensableJosef-debug.xcframework
          path: |
            indispensable-josef/build/XCFrameworks/debug/
      - name: Upload debug XCFramework IndispensableCosef
        uses: actions/upload-artifact@v4
        with:
          name: IndispensableCosef-debug.xcframework
          path: |
            indispensable-cosef/build/XCFrameworks/debug/
      - name: Upload release XCFramework Indispensable-ASN.1
        uses: actions/upload-artifact@v4
        with:
          name: IndispensableAsn1-release.xcframework
          path: |
            indispensable-asn1/build/XCFrameworks/release/
      - name: Upload release XCFramework Indispensable
        uses: actions/upload-artifact@v4
        with:
          name: Indispensable-release.xcframework
          path: |
            indispensable/build/XCFrameworks/release/
      - name: Upload release XCFramework IndispensableJosef
        uses: actions/upload-artifact@v4
        with:
          name: IndispensableJosef-release.xcframework
          path: |
            indispensable-josef/build/XCFrameworks/release/
      - name: Upload release XCFramework IndispensableCosef
        uses: actions/upload-artifact@v4
        with:
          name: IndispensableCosef-release.xcframework
          path: |
            indispensable-cosef/build/XCFrameworks/release/
      - name: Upload release XCFramework Supreme
        uses: actions/upload-artifact@v4
        with:
          name: SignumSupreme-release.xcframework
          path: |
            supreme/build/XCFrameworks/release/
