name: Test Manually (Matrix Entry)

on:
  workflow_dispatch:
    inputs:
      matrix-path:
        description: "Path to json which contains the test strategy matrix"
        required: true
        default: ".github/config/test-strategy-matrix.json"
        type: string
      runner-name:
        description: "Runner as defined in matrix (e.g., iosRunner, appleOtherRunner, jvmRunner)"
        required: true
        default: "jvmRunner"
        type: string
      override-cache:
        required: false
        default: false
        type: boolean
      kotlin-version:
        description: "Override Kotlin version?"
        required: false
        default: ""
        type: string
      testballoon-version:
        description: "Override TestBalloon version (full version string)?"
        required: false
        default: ""
        type: string

jobs:
  test-manually:
    uses: a-sit-plus/internal-workflows/.github/workflows/test-manually.yml@feature/modularTests
    with:
      override-cache: ${{ inputs.override-cache }}
      matrix-path: ${{ inputs.matrix-path }}
      runner-name: ${{ inputs.runner-name }}
      kotlin-version: ${{ inputs.kotlin-version }}
      testballoon-version: ${{ inputs.testballoon-version }}